<div class="w-full wrapper">
    <div class="banner flex items-center p-2 lg:px-[100px] h-[350px] w-full">
        <h2 class="text-white text-4xl font-bold">MIS</h2>
    </div>

    <section class="w-full p-2 h-full py-[30px] lg:px-[100px]">
        <div class="w-full md:w-1/2">
            <small class="font-bold mb-2">// WHO WE ARE</small>
            <h2 class="font-bold text-3xl mb-4">What we do</h2>
            <p>Provides real-time data on 48 cereal and crop value chains. Tracks prices,trends, and projections for 
                informed decision making.
            </p>
        </div>
        <div class="w-full md:w-1/2">
        </div>
    </section>
</div>