<div class="w-full lg:px-[100px] p-2 flex items-center justify-between h-[80px] shadow-sm">
    <!-- <h2 class="font-bold cursor-pointer" routerLink="/">Lliffton</h2> -->
    <a routerLink="/">
        <img style="height: 65px;width: auto;" src="logo.png" alt="logo">
    </a>
    <div class="flex items-center">
        <ul class="hidden md:flex items-center gap-5">
            <li routerLink="/">Home</li>
            <li (click)="viewWhatWeDo('what-we-do')">What We do</li>
            <li (click)="viewWhatWeDo('contact-us')">Contact Us</li>
            <li (click)="viewWhatWeDo('about-us')">About Us</li>
        </ul>
        <div class="md:hidden">
            @if (sideBarShowing) {
                <i (click)="toggleSideBar()" class="bi bi-x text-xl font-bold"></i>
            } 
            @else {
                <i (click)="toggleSideBar()" class="bi bi-list text-xl font-bold"></i>
            }
        </div>
    </div>
    <!-- sidebar -->
</div>
<p-drawer header="Lliffton" [(visible)]="sideBarShowing" position="right">
    <nav>
        <ul class="list-none flex flex-col">
            <li (click)="viewWhatWeDo('/')" class="my-2 w-full cursor-pointer hover:text-[]">Home</li>
            <li (click)="viewWhatWeDo('what-we-do')" class="my-2 w-full cursor-pointer">What We Do</li>
            <li (click)="viewWhatWeDo('contact-us')" class="my-2 w-full cursor-pointer">Contact Us</li>
            <li (click)="viewWhatWeDo('about-us')" class="my-2 w-full cursor-pointer">About Us</li>
        </ul>
    </nav>
</p-drawer>
