<div class="w-full wrapper">
    <div class="banner flex items-center p-2 lg:px-[100px] h-[350px] w-full">
        <h2 class="text-white text-4xl font-bold">VSLA Digitization and Agri-Trade</h2>
    </div>

    <section class="w-full p-2 h-full py-[30px] lg:px-[100px]">
        <div class="w-full flex flex-wrap items-center">
            <div class="w-full md:flex-1 stay-card py-[50px]">
                <small class="font-bold mb-2">// WHO WE ARE</small>
                <h2 class="font-bold text-3xl mb-4">What we do</h2>
                <p>We are a Kenyan-based social enterprise developing digital solution for Agriculture, Health, and WASH</p>
                <app-pulse text="Request Demo"></app-pulse>
            </div>
            <div class="w-full md:flex-1 scroll-cards">
                <div class="img-wrapper">
                    <img src="mama.jpg" alt="" id="top">
                    <img src="farm.jpg" alt="" id="middle">
                    <img src="planting.jpg" alt="" id="bottom">
                </div>
            </div>
        </div>
        <div class="mt-10 md:mt-0 py-[50px]">
            <small class="text-[#8dc32e] mb-3 text-2xl font-bold">// OUR FOCUS AREAS</small>
            <div>
                <ul>
                    <li>Empowering smallholder farmers</li>
                    <li>Youth employability</li>
                    <li>Digital transformation for communities</li>
                </ul>
            </div>
            <div class="w-full flex flex-wrap py-[50px]">
                <div class="w-full md:w-1/2 lg:w-1/4 text-center">
                    <h2 [countUp]="86000" [options]="{ enableScrollSpy: true }" class="font-bold text-[#43baff] text-3xl">0</h2>
                    <p class="font-bold">Farmers</p>
                </div>

                <div class="w-full md:w-1/2 lg:w-1/4 text-center">
                    <h2 [countUp]="16000" [options]="{ enableScrollSpy: true }" class="font-bold text-[#43baff] text-3xl">0</h2>
                    <p class="font-bold">Rural Entrepreneurs</p>
                </div>

                <div class="w-full md:w-1/2 lg:w-1/4 text-center">
                    <h2 [countUp]="1250" [options]="{ enableScrollSpy: true }" class="font-bold text-[#43baff] text-3xl">0</h2>
                    <p class="font-bold">Youths</p>
                </div>

                <div class="w-full md:w-1/2 lg:w-1/4 text-center">
                    <h2 [countUp]="624" [options]="{ enableScrollSpy: true }" class="font-bold text-[#43baff] text-3xl">0</h2>
                    <p class="font-bold">Women</p>
                </div>
            </div>
        </div>

    </section>

    <section class="w-full">
        <div class="w-full flex flex-wrap">
            <div class="item team w-full md:w-1/2 lg:w-1/4 order-1">

            </div>
            <div class="bg-[#f8f8f8] item flex items-end p-8 w-full md:w-1/2 lg:w-1/4 order-2">
                <div class="flex items-center flex-col">
                    <h2 [countUp]="20" [options]="{ enableScrollSpy: true }" class="text-4xl text-[#43baff] font-bold">0+</h2>
                    <h3 class="text-2xl font-bold">Countries Worldwide</h3>
                    <p class="text-[#6d6d6d] mb-[20px]">To succeed, every software solution must be deeply intergrated into the existing tech environment...</p>
                    <a href="#" class="text-[#43baff] font-bold"><i class="bi bi-arrow-right mr-2"></i>Learn more</a>
                </div>            
            </div>
            <div class="laptop item w-full md:w-1/2 lg:w-1/4 order-3 md:order-4 lg:order-3">

            </div>
            <div class="bg-[#f8f8f8] item flex items-end p-8 w-full md:w-1/2 lg:w-1/4 order-4 md:order-3 lg:order-4">
                <div class="flex items-center flex-col">
                    <h2 [countUp]="15" [options]="{ enableScrollSpy: true }" class="text-4xl text-[#43baff] font-bold">0</h2>
                    <h3 class="text-2xl font-bold">Countries Worldwide</h3>
                    <p class="text-[#6d6d6d]">To succeed, every software solution must be deeply intergrated into the existing tech environment...</p>
                    <a href="#" class="text-[#43baff] font-bold"><i class="bi bi-arrow-right mr-2"></i>Learn more</a>
                </div>   
            </div>
        </div>
    </section>
</div>