.wrapper {
    // .banner {
    //     background-image: url("../../../assets/banner.jpg");
    //     background-size: cover;
    // }

    section {
        .item {
            height: 480px;
            background-size: cover;
            background-position: center;
        }

        .team {
            background-image: url("../../../assets/team.jpg");
        }

        .laptop {
            background-image: url("../../../assets/laptop.jpg");

        }

        p {
            max-width: 600px;
            margin-bottom: 2rem;
            color: #6d6d6d;
        }

        .stay-card {
            height: 100vh;
            display: flex;
            align-items: start;
            justify-content: center;
            flex-direction: column;

            p {
                max-width: 600px;
            }

            ul {
                li {
                    
                }
            }
        }

        .img-wrapper {
            // background-image: url("../../../assets/mama.jpg");
            // background-size: cover;
            // height: 340px;
            // max-width: 500px;
            position: relative;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;

            #top {
                z-index: 100;
            }

            #middle,
            #bottom {
                position: absolute;
                // top: 0;
                // bottom: 0;
                
            }
            
            #middle {
                // left: 2rem;
                // z-index: 7;
            }
            
            #bottom {
                // z-index: 5;
                // right: 2rem;
            }

            img {
                // height: 100%;
                // width: 100%;
                height: 340px;
                max-width: 500px;
                box-shadow: rgba(50, 50, 93, .25) 0 30px 60px -12px, rgba(0,0,0,.3) 0 18px 3px -18px;
                visibility: hidden;
                opacity: 0;
                border-radius: 10px;

            }
        }

    }
}