.wrapper {
    .banner {
        background-image: url("../../../assets/banner.jpg");
        background-size: cover;
    }

    section {
        .item {
            height: 480px;
            background-size: cover;
            background-position: center;
        }

        .team {
            background-image: url("../../../assets/team.jpg");
        }

        .laptop {
            background-image: url("../../../assets/laptop.jpg");

        }

        p {
            max-width: 700px;
            margin-bottom: 2rem;
            color: #6d6d6d;
        }

    }
}