<div class="w-full">
    <div class="w-full flex flex-wrap">
        <div class="w-full md:w-1/2 md:pr-6">
            <small class="font-bold">// CONTACT DETAILS</small>
            <h3 class="font-bold text-3xl my-2">Contact Us</h3>
            <p>Give us a call or drop a mail, we endeavour to answer all enquiries within 24 hours on business days.We will be happy to answer your questions.</p>
        </div>
        <div class="w-full md:w-1/2">
            <input type="text" placeholder="Your Name*" class="p-3 my-1 w-full">
            <input type="email" placeholder="Your Email*" class="p-3 my-1 w-full">
            <textarea name="message" placeholder="Message*" id="" class="p-3 my-1 w-full" cols="30" rows="10"></textarea>
            <button type="submit" class="py-3 px-5 border border-2 hover:cursor-pointer">SEND MESSAGE</button>
        </div>
    </div>
</div>
