.pulse {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: tomato;
    border-radius: 50%;

    span {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: inherit;
        border-radius: inherit;
        animation: pulseAnimation 4s infinite;
        animation-delay: calc(1s * var(--i));
    }
}

@keyframes pulseAnimation {
    100% {
        opacity: 0;
        transform: scale(2);
    }
}


