<div class="w-full">
    <div class="w-full p-2 lg:px-[100px] bg-[#90E0EF] py-[50px]">
        <div class="flex flex-col lg:flex-row">
            <div class="flex flex-1 items-center pb-[50px]">
                <h2 class="font-bold text-5xl">What we do</h2>
            </div>
            <div class="flex flex-1">
                <p class="text-[#808080]">We are a Kenyan based social enterprise developing digital solutions for Agriculture, Health and WASH</p>
            </div>
        </div>
    </div>
    <div class="h-screen bg-black flex text-white flex-col lg:flex-row w-full py-[50px] p-2 lg:px-[100px]">
        <div class="flex-1 flex justify-center flex-col">
            <h2 class="font-bold text-6xl mb-5 text-[#8dc32e]">Focus Areas</h2>
            <div>
                <ul>
                    <li class="flex gap-2"><i class="bi bi-check-circle-fill text-[#8dc32e]"></i>Empowering smallholder farmers</li>
                    <li class="flex gap-2"><i class="bi bi-check-circle-fill text-[#8dc32e]"></i>Youth Employability</li>
                    <li class="flex gap-2"><i class="bi bi-check-circle-fill text-[#8dc32e]"></i>Digital transformation for communities</li>
                </ul>
            </div>
        </div>
    </div>
</div>
