div {
    section {
        .img-wrapper {
            height: 500px;
            background-image: url("../../../assets/farmer.jpg");
            background-size: cover;
            background-position: center;
            width: 400px;
        }
    }

    .grid-temp {
        .image-container {
            background-size: cover;
            background-position: center;            
        }

        .one {
            background-color: red;
            background-image: url("../../../../public/community_farmers.jpg");
        }

        .two {
            background-image: url("../../../../public/maize.jpg");
        }
    }

    #services > div {
        height: 100px;
        cursor: pointer;

        &:hover {
            i {
                color: tomato;
                transition: all ease .5s;
            }
        }
    }

    #objectives {
        color: whitesmoke;


        .objective-card {
            width: 270px;
            height: 299px;
            padding: 43px 30px 65px;
            position: relative;
            overflow: hidden;
            background-color: #262051;

            transition: all ease .4s;

            .top,
            .bottom,
            .icon,
            .bi {
                position: absolute;
            }

            .top {
                top: -38px;
                left: 0;
                font-weight: bold;
                font-size: 100px;
                opacity: .2;
            }

            .bottom {
                top: 65%;
                left: 65%;
                width: 188px;
                height: 188px;
                border-radius: 100%;
                background-color: rgba(245, 245, 245, 0.122);
            }

            .bi {
                right: 1rem;
                bottom: 1rem;
            }

            h3 {
                font-weight: bold;
            }

            &:hover {
                background-color: rgb(240, 240, 240);
                cursor: pointer;

                h3 {
                    color: black;
                }

                small {
                    color: #797979;
                }

                .top {
                    color: rgb(72, 72, 72);
                }

                .bottom {
                    background-color: #128dd4;
                }
            }



        }

    }


    .flex-1,
    .flex-2 {
        .grid {
            .row-span-3,
            .col-span-2 {
                padding: 2px;
            }

            .col-span-2 {
                aspect-ratio: 1!important;
            }

            .card {
                width: 100%;
                height: 100%;
                transform-style: preserve-3d;
                transition: all .5s ease;
                position: relative;
                perspective: 1000px;
            }

            .card-inner {
                width: 100%;
                height: 100%;
                transform-style: preserve-3d;
                transition: transform .5s ease;
                position: relative;
            }

            .card:hover .card-inner {
                transform: rotateY(180deg);
                cursor: pointer;
            }

            .card-front,
            .card-back {
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                display: flex;
                justify-content: end;
                align-items: center;
                flex-direction: column;
                text-align: center;

                span {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    font-size: 5rem;
                    font-weight: bold;
                    opacity: .3;
                }

                h2 {
                    font-size: 24px;
                    font-weight: bold;
                    margin-bottom: .5rem;
                }

            }
            
            .card-front {
                background-color: aquamarine;
                background-image: url('./../../../assets/product.jpg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;               
            
            }

            .card-back {
                padding: 1rem;
                text-align: center;
                background: #6F2DA8;
                color: whitesmoke;
                transform: rotateY(180deg);
            }
        }
    }
}