<div class="w-full">
    <div class="w-full p-2 lg:px-[100px] bg-[#90E0EF] py-[50px]">
        <div class="flex flex-col lg:flex-row">
            <div class="flex flex-1 flex-col items-start pb-[50px]">
                <small>// ABOUT US</small>
                <h2 class="font-bold text-5xl">What we do</h2>
            </div>
            <div class="flex flex-col flex-1">
                <p class="text-[#808080] mb-2">We are a Kenyan based social enterprise developing digital solutions for Agriculture, Health and WASH sectors in Kenya and Africa at large.</p>
                <p class="text-[#808080]">The company's core business revolves around agriculture, health and the WASH value chain working towards empowering the African enterprises in these sectors</p>
            </div>
        </div>
    </div>
    <div class="h-screen bg-black flex text-white flex-col lg:flex-row w-full py-[50px] p-2 lg:px-[100px]">
        <div class="flex-1 mb-5 lg:mb-0 flex justify-center flex-col">
            <div class="flex flex-col">
                <small class="text-[#8dc32e]">// WHAT WE OFFER</small>
                <h2 class="font-bold text-6xl mb-5 text-[#8dc32e]">Focus Areas</h2>
            </div>
            <div>
                <ul>
                    <li class="flex gap-2"><i class="bi bi-check-circle-fill text-[#8dc32e]"></i>Empowering smallholder farmers</li>
                    <li class="flex gap-2"><i class="bi bi-check-circle-fill text-[#8dc32e]"></i>Youth Employability</li>
                    <li class="flex gap-2"><i class="bi bi-check-circle-fill text-[#8dc32e]"></i>Digital transformation for communities</li>
                </ul>
            </div>
        </div>
        <div class="flex-1  flex items-center justify-center">
            <div class="grid grid-cols-4 grid-rows-6 gap-2 w-full">
                <div class="col-span-2 row-span-6">
                    <div class="card">
                        <div class="card-inner">
                            <div class="card-front">
                                <h2>VSLA Digitization and Agri-Trade</h2>
                                <span>01</span>
                            </div>
                            <div class="card-back">
                                <small>A Kenyan-based social enterprise whose focus is the development of digital solutions for the agriculture, health and WASH sectors in Kenya and Africa at large.</small>
                                <a href="#" class="flex gap-1"><i class="bi bi-arrow-right"></i><span>view more</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-span-3 col-start-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, magnam?</div>
                <div class="row-span-3 col-start-3 row-start-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum, sint?</div>
                <div class="row-span-3 col-start-4 row-start-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, totam!</div>
                <div class="row-span-3 col-start-4 row-start-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, asperiores.</div>
            </div>
        </div>
    </div>
</div>
