div {
    .flex-1 {
        .grid {
            .row-span-3,
            .col-span-2 {
                // border: 1px solid whitesmoke;
                padding: 2px;
            }

            .col-span-2 {
                aspect-ratio: 1!important;
            }

            .card {
                width: 100%;
                height: 100%;
                transform-style: preserve-3d;
                transition: all .5s ease;
                position: relative;
                perspective: 1000px;
            }

            .card-inner {
                width: 100%;
                height: 100%;
                transform-style: preserve-3d;
                transition: transform .5s ease;
                position: relative;
            }

            .card:hover .card-inner {
                transform: rotateY(180deg);
                cursor: pointer;
            }

            .card-front,
            .card-back {
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                display: flex;
                justify-content: end;
                align-items: center;
                flex-direction: column;
                text-align: center;

                h2 {
                    font-size: 30px;
                    font-weight: bold;
                    margin-bottom: 2rem;
                }

            }
            
            .card-front {
                background-color: aquamarine;
                background-image: url('./../../../assets/product.jpg');
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                
                span {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    font-size: 4rem;
                    font-weight: bold;
                    opacity: .5;
                }
            }

            .card-back {
                padding: 1rem;
                text-align: center;
                background: tomato;
                transform: rotateY(180deg);
            }
        }
    }
}