div {
    .flex-1 {
        .grid {
            .row-span-3,
            .col-span-2 {
                border: 1px solid whitesmoke;
                padding: 12px;
            }

            .col-span-2 {
                aspect-ratio: 1!important;
            }

            .card {
                width: 100%;
                height: 100%;
                transform-style: preserve-3d;
                transition: all .5s ease;
                position: relative;
                perspective: 1000px;
            }

            .card-inner {
                width: 100%;
                height: 100%;
                transform-style: preserve-3d;
                transition: transform .5s ease;
                position: relative;
            }

            .card:hover .card-inner {
                transform: rotateY(180deg);
            }

            .card-front,
            .card-back {
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
            }

            .card-front {
                background-color: aquamarine;
            }

            .card-back {
                background: tomato;
                transform: rotateY(180deg);
            }
        }
    }
}