<div class="w-full">
    <div id="what-we-do" class="w-full grid-temp p-2 lg:px-[100px] py-[50px]">
        <div class="flex flex-col lg:flex-row" id="what-we-do">
            <div class="flex flex-1 flex-col items-start pb-[50px]">
                <div class="w-full md:w-[80%] mx-auto h-[400px] img-container one"></div>
            </div>
            <div class="flex flex-col flex-1" id="about-us">
                <small class="font-bold mb-2">// ABOUT US</small>
                <h2 class="font-bold text-5xl">What we do</h2>
                <p style="line-height: 2rem;" class="mb-2">
                    We are a Kenyan-based social enterprise transforming <span>agriculture and rural livelihoods</span> 
                    through digital-innovation, digitizing VSLAs, connecting farmers to markets with the Agri-Trade platform, 
                    and delivering knowledge via <span>NOVA BOX</span>
                </p>
                <p style="line-height: 2rem;" class="">
                    Our <span>MIS for value chains</span> provides real-time data, enabling farmers, women, and youth to access finance, markets, and 
                    skills. Driving sustainable growth and resilience across Africa's agricultural sector.
                </p>
            </div>      
        </div>
        <div class="flex flex-wrap my-3">
            <div class="flex w-full md:flex-1 flex-col items-start pb-[50px]">
                <small class="font-bold mb-2">// OUR</small>
                <h2 class="font-bold text-5xl">Mission</h2>
                <p style="max-width: 600px;line-height: 2rem;">To empower farmers, women, and youth in Africa through inclusive digital solutions that intergrates finance,
                    markets, and Knowledge - driving sustainable livelihoods, financial inlcusion, and community resilience.
                </p>
            </div>
            <div class="flex w-full md:flex-1 ">
                <div class="w-full md:w-[80%] mx-auto  h-[400px] img-container two"></div>
            </div>
        </div>
    </div>

    <section class="p-2 py-[50px] lg:px-[100px]">
        <div class="flex flex-wrap">
            <div class="flex-1 p-5 items-center h-full">
                <small class="font-bold mb-2">// OUR FOCUS</small>
                <h2 class="font-bold text-5xl mb-5">Problem</h2>
                <p style="line-height: 2rem;">Smallholder farmers and rural enterprenuers in Africa face fragmented supply chains,limited market 
                    access, low financial inclusion, and inadequate digital tools. Over 2 in 3 farmers lack access to digital 
                    marketplaces, while women-led groups and youth entreprenuers remain excluded from finance and scalable opprtunities.
                </p>
            </div>

            <div class="flex-1 items-center">
                <div class="img-wrapper mx-auto">

                </div>
            </div>
        </div>
    </section>

    <section class="w-full p-2 lg:px-[100px] py-[50px] bg-[#F5F5F5]">
        <small class="font-bold">// OUR SERVICES</small>
        <h2 class="font-bold text-4xl mb-5">Services Offered</h2>
        <div id="services" class="w-full flex flex-wrap justify-center">
            <div class="p-2 w-full md:w-1/2 lg:w-1/3 flex gap-4">
                <div>
                    <i class="bi bi-phone text-2xl"></i>
                </div>
                <div>
                    <p class="font-bold">Digital financial inclusion</p>
                    <small>Lorem ipsum dolor sit amet.</small>
                </div>
            </div>
            <div class="p-2 w-full md:w-1/2 lg:w-1/3 flex gap-5">
                <div>
                    <i class="bi bi-shop-window text-2xl"></i>
                </div>
                <div>
                    <p class="font-bold">Agro-input and aggregation e-commerce</p>
                    <small>Lorem ipsum dolor sit amet.</small>
                </div>
            </div>
            <div class="p-2 w-full md:w-1/2 lg:w-1/3 flex gap-5">
                <div>
                    <i class="bi bi-headset text-2xl"></i>
                </div>
                <div>
                    <p class="font-bold">Farmer advisory services</p>
                    <small>Lorem ipsum dolor sit amet.</small>
                </div>
            </div>
            <div class="p-2 w-full md:w-1/2 lg:w-1/3 flex gap-5">
                <div>
                    <i class="bi bi-journal-bookmark-fill text-2xl"></i>
                </div>
                <div>
                    <p class="font-bold">Knowledge platforms</p>
                    <small>Lorem ipsum dolor sit amet.</small>
                </div>
            </div>
            <div class="p-2 w-full md:w-1/2 lg:w-1/3 flex gap-4">
                <div>
                    <i class="bi bi-graph-up-arrow text-2xl"></i>
                </div>
                <div>
                    <p class="font-bold">Impact analytics dashboards</p>
                    <small>Lorem ipsum dolor sit amet.</small>
                </div>
            </div>
        </div>
    </section>

    <section id="objectives" class="bg-[#221f3c] p-2 lg:px-[100px] py-[50px]">
        <small class="font-bold">// WHY US</small>
        <h2 class="font-bold text-6xl mb-5 text-[#8dc32e]">Our Objectives</h2>
        <div class="w-full p-2 flex justify-center gap-5 lg:px-[150px] flex-wrap gap-3">
            <div class="w-full objective-card p-3">
                <h3>Digitize Savings & Finance</h3>
                <small>Expand access to secure, transparent, and affordable financial services through VSLA 
                    digitization and intergration with mobile money and banks
                </small>
                <span class="top">01</span>
                <div class="bottom"></div>
                <div class="icon"></div>
                <i class="bi bi-phone text-3xl"></i>
            </div>

            <div class="w-full objective-card p-3">
                <h3>Improve Market Access</h3>
                <small>Link smallholders and rural entrepreneurs directly to input suppliers, buyers, and aggregation markets via digital platforms.</small>
                <span class="top">02</span>
                <div class="bottom"></div>
                <div class="icon"></div>
                <i class="bi bi-shop text-3xl"></i>
            </div>

            <div class="w-full objective-card p-3">
                <h3>Strengthen knowledge & Skills</h3>
                <small>Provide offline and online learning through NOVA BOX and e-learning platforms to build capacity and create digital jobs.</small> 
                <span class="top">03</span>
                <div class="bottom"></div>
                <div class="icon"></div>
                <i class="bi bi-journal-arrow-up text-3xl"></i>
            </div>

            <div class="w-full objective-card p-3">
                <h3>Leverage Data & Innovation</h3>
                <small>Use AI-powered MIS to generate insights on value chains, prices, and performance for better decision-making.</small> 
                <span class="top">04</span>
                <div class="bottom"></div>
                <div class="icon"></div> 
                <i class="bi bi-file-earmark-bar-graph text-3xl"></i>
            </div>

            <div class="w-full objective-card p-3">
                <h3>Scale Impact</h3>
                <small>Expand operations across Africa, Asia, and Latin America to reach millions of farmers and entrepreneurs, promoting inclusive growth and resilience</small> 
                <span class="top">05</span>
                <div class="bottom"></div>
                <div class="icon"></div> 
                <i class="bi bi-sort-up-alt text-3xl"></i>
            </div>
        </div>
    </section>

    <section class="h-auto md:h-screen bg-black flex text-white flex-col lg:flex-row w-full py-[50px] p-2 lg:px-[100px]">
    <div class="flex-1 mb-5 lg:mb-0 flex justify-center flex-col">
        <div class="flex flex-col">
            <small class="text-[#8dc32e]">// WHAT WE OFFER</small>
            <h2 class="font-bold text-6xl mb-5 text-[#8dc32e]">Our Solution</h2>
            <p style="max-width: 700px; line-height: 2rem;">Lliffton Analytica has developed a one-stop digital platform that intergrates agriculture, finance, and digital jobs to transform rural economies.</p>
        </div>
    </div>
    <div class="flex-2 grid-cards flex items-center justify-center w-full">
        <div class="flex flex-col md:grid md:grid-cols-6 md:grid-rows-6 gap-2 w-full">
            <div class="card-wrapper md:col-span-2 md:row-span-3 md:col-start-2">
                <div (click)="viewProject('/agri-trade')" class="card">
                    <div class="card-inner">
                        <div class="card-front">
                            <h2>Agri-Trade App</h2>
                            <span>01</span>
                        </div>
                        <div class="card-back">
                            <small>Real-time marketplace for inputs, services (e.g., mechanization, soil testing), and aggregation.</small>
                            <a href="#" class="flex gap-1"><i class="bi bi-arrow-right"></i>view more</a>
                            <span>01</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-wrapper md:col-span-2 md:row-span-3 md:col-start-4">
                <div (click)="viewProject('/vsla')" class="card">
                    <div class="card-inner">
                        <div class="card-front two">
                            <h2>VSLA Digitization</h2>
                            <span>02</span>
                        </div>
                        <div class="card-back">
                            <small>End-to-end savings group mangament linked to mobile money</small>
                            <a href="#" class="flex gap-1"><i class="bi bi-arrow-right"></i>view more</a>
                            <span>02</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-wrapper md:col-span-2 md:row-span-3 md:col-start-2 md:row-start-4">
                <div (click)="viewProject('/mis')" class="card">
                    <div class="card-inner">
                        <div class="card-front three">
                            <h2>Market Infromation System (MIS)</h2>
                            <span>03</span>
                        </div>
                        <div class="card-back">
                            <small>Data Driven insights on 48 value chains with AI projections</small>
                            <a href="#" class="flex gap-1"><i class="bi bi-arrow-right"></i>view more</a>
                            <span>03</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-wrapper md:col-span-2 md:row-span-3 md:col-start-4 md:row-start-4">
                <div (click)="viewProject('/e-group')" class="card">
                    <div class="card-inner">
                        <div class="card-front four">
                            <h2>E-group & Digital Jobs Platform</h2>
                            <span>04</span>
                        </div>
                        <div class="card-back">
                            <small>Unlocking e-commerce opportunities and remote youth</small>
                            <a href="#" class="flex gap-1"><i class="bi bi-arrow-right"></i>view more</a>
                            <span>04</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <!-- <section class="h-auto md:h-screen bg-black flex text-white flex-col lg:flex-row w-full py-[50px] p-2 lg:px-[100px]">
        <div class="flex-1 mb-5 lg:mb-0 flex justify-center flex-col">
            <div class="flex flex-col">
                <small class="text-[#8dc32e]">// WHAT WE OFFER</small>
                <h2 class="font-bold text-6xl mb-5 text-[#8dc32e]">Our Solution</h2>
                <p style="max-width: 700px; line-height: 2rem;">Lliffton Analytica has developed a one-stop digital platform that intergrates agriculture, finance, and digital jobs to transform rural economies.</p>
            </div>
        </div>
        <div class="flex-2 grid-cards flex items-center justify-center">
            <div class="grid grid-cols-6 grid-rows-6 gap-2 w-full">
                <div class="col-span-2 row-span-3 col-start-2">
                    <div (click)="viewProject('/agri-trade')" class="card">
                        <div class="card-inner">
                            <div class="card-front">
                                <h2>Agri-Trade App</h2>
                                <span>01</span>
                            </div>
                            <div class="card-back">
                                <small>Real-time marketplace for inputs, services (e.g., mechanization, soil testing), and aggregation.</small>
                                <a href="#" class="flex gap-1"><i class="bi bi-arrow-right"></i>view more</a>
                                <span>01</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-span-2 row-span-3 col-start-4">
                    <div (click)="viewProject('/vsla')" class="card">
                        <div class="card-inner">
                            <div class="card-front two">
                                <h2>VSLA Digitization</h2>
                                <span>02</span>
                            </div>
                            <div class="card-back">
                                <small>End-to-end savings group mangament linked to mobile money</small>
                                <a href="#" class="flex gap-1"><i class="bi bi-arrow-right"></i>view more</a>
                                <span>02</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-span-2 row-span-3 col-start-2 row-start-4">
                    <div (click)="viewProject('/mis')" class="card">
                        <div class="card-inner">
                            <div class="card-front three">
                                <h2>Market Infromation System (MIS)</h2>
                                <span>03</span>
                            </div>
                            <div class="card-back">
                                <small>Data Driven insights on 48 value chains with AI projections</small>
                                <a href="#" class="flex gap-1"><i class="bi bi-arrow-right"></i>view more</a>
                                <span>03</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-span-2 row-span-3 col-start-4 row-start-4">
                    <div (click)="viewProject('/e-group')" class="card">
                        <div class="card-inner">
                            <div class="card-front four">
                                <h2>E-group & Digital Jobs Platform</h2>
                                <span>04</span>
                            </div>
                            <div class="card-back">
                                <small>Unlocking e-commerce opportunities and remote youth</small>
                                <a href="#" class="flex gap-1"><i class="bi bi-arrow-right"></i>view more</a>
                                <span>04</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
</div>
