<div class="w-full wrapper">
    <div class="banner flex items-center p-2 lg:px-[100px] h-[350px] w-full">
        <h2 class="text-white text-4xl font-bold">Agri-Trade</h2>
    </div>

    <section class="w-full p-2 h-full md:h-screen py-[30px] lg:px-[100px]">
        <div class="w-full h-full flex flex-col justify-center md:w-1/2">
            <small class="font-bold mb-2">// WHO WE ARE</small>
            <h2 class="font-bold text-3xl mb-4">What we do</h2>
            <p>Digital platform for farmer market access and input linkages.Connects producers with
                buyers and suppliers, while creating digital jobs for the youth.
            </p>
        </div>
        <div class="w-full md:w-1/2">
        </div>
    </section>

    
</div>