.right-wrapper {
    height: 500px;
    border-radius: 24px;
    background-position: center;
    background-size: cover;
    width: 100%;
    background-image: url("./../../../assets/grp.jpg");
}

h2 {
    font-size: 36px;
}

p {
    max-width: 570px;
}


// .top {

//     .left {
//         padding: 1rem;
//             height: 240px;

//         background-color: rgba(239, 239, 239, 0.359);
//     }
    
//     .right {
//         padding: 1rem;
//             height: 240px;

//         background-color: rgba(0, 128, 128, 0.42);
//     }

//     div {
//         height: 100%;
//         // border-radius: 24px;
//     }
// }